<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Trabajo individual Mercado Liebre </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="/">
                <img src="/images/logo-mercado-liebre.svg" class="logo">
            </a>
            <div class="search-bar">
                <input type="text" placeholder="Buscar tus productos, marcas">
                <button type="button"> <i class="fas fa-search"></i> </button>
            </div>
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <a href="" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href=""> Ofertas </a></li>
                <li><a href=""> Tiendas Oficiales </a></li>
                <li><a href=""> Vender </a></li>
                <li><a href=""> Ayuda </a></li>
            </ul>
            
            <ul class="right-navbar">
                <li><a href="/register"> Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login"> Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href=""> Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </header>

    <img src="/images/img-home-banner.jpg" alt="Banner principal" id="banner">

    <main>
        <h4 class="main-text"> Basado en tu última visita </h4>
        <div class="main-products">
            <div class="productos" id="producto1">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de Cafetera Moulinex"> </br>
                <div class="descripcion-producto">
                    <span class="logo-envio">
                        <i class="fas fa-truck"></i>
                    </span>
                    <p class="precio"> $6.770 </p>
                    <p class="descuento"> 40% off </p>
                    <span class="nombre-producto" id="prueba"> Cafetera Moulinex </span>
                </div>
            </div>
            <div class="productos" id="producto2">
                <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de MacBook Pro"> </br>
                <div class="descripcion-producto">
                    <span class="logo-envio">
                        <i class="fas fa-truck"></i>
                    </span>
                    <p class="precio"> $230.000 </p>
                    <p class="descuento"> 20% off </p>
                    <span class="nombre-producto"> MacBook Pro 2019 </span>
                </div>
            </div>
            <div class="productos" id="producto3">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen de Samsung Galaxy s10"> </br>
                <div class="descripcion-producto">
                    <span class="logo-envio">
                        <i class="fas fa-truck"></i>
                    </span>
                    <p class="precio"> $70.500 </p>
                    <p class="descuento"> 10% off </p>
                    <span class="nombre-producto"> Samsung Galaxy S10 </span>
                </div>
            </div>
            <div class="productos" id="producto4">
                <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen Samsung SmartTV"> </br>
                <div class="descripcion-producto">
                    <span class="logo-envio">
                        <i class="fas fa-truck"></i>
                    </span>
                    <p class="precio"> $23.200 </p>
                    <p class="descuento"> 5% off </p>
                    <span class="nombre-producto"> SmartTV Samsung 43 </span>
                </div>
            </div>
        </div>
        <h4 class="main-text"> Ofertas </h4>
        <div class="main-products">
            <div class="productos" id="producto5">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de Cafetera Moulinex"> </br>
                <div class="descripcion-producto">
                    <span class="logo-envio">
                        <i class="fas fa-truck"></i>
                    </span>
                    <p class="precio"> $6.770 </p>
                    <p class="descuento"> 40% off </p>
                    <span class="nombre-producto"> Cafetera Moulinex </span>
                </div>
            </div>
            <div class="productos" id="producto6">
                <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de MacBook Pro"> </br>
                <div class="descripcion-producto">
                    <span class="logo-envio">
                        <i class="fas fa-truck"></i>
                    </span>
                    <p class="precio"> $230.000 </p>
                    <p class="descuento"> 20% off </p>
                    <span class="nombre-producto"> MacBook Pro 2019 </span>
                </div>
            </div>
            <div class="productos" id="producto7">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen de Samsung Galaxy s10"> </br>
                <div class="descripcion-producto">
                    <span class="logo-envio">
                        <i class="fas fa-truck"></i>
                    </span>
                    <p class="precio"> $70.500 </p>
                    <p class="descuento"> 10% off </p>
                    <span class="nombre-producto"> Samsung Galaxy S10 </span>
                </div>
            </div>
            <div class="productos" id="producto8">
                <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen Samsung SmartTV"> </br>
                <div class="descripcion-producto">
                    <span class="logo-envio">
                        <i class="fas fa-truck"></i>
                    </span>
                    <p class="precio"> $23.200 </p>
                    <p class="descuento"> 5% off </p>
                    <span class="nombre-producto"> SmartTV Samsung 43 </span>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="main-footer">
            <div class="footer-text">
                <div class="footer-icons">
                    <i class="fas fa-credit-card"></i>
                </div>
                <h4> Pagá con tarjeta o efectivo </h4>
                <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en <br> puntos de pago. ¡Y siempre es seguro! </p>
            </div>
            <div class="footer-text">
                <div class="footer-icons">
                    <i class="fas fa-gift"></i>
                </div>
                <h4> Envío gratis desde los $ 2.500 </h4>
                <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de <br> productos. Es un beneficio de Mercado Puntos. </p>
            </div>
            <div class="footer-text">
                <div class="footer-icons">
                    <i class="fas fa-user-shield"></i>
                </div>
                <h4> Seguridad de principio a fin </h4>
                <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas <br> hacer, porque estás siempre protegid@. </p>
            </div>
        </div>
        <p id="copyright"> Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
    </footer>
    
</body>
</html>