<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Ingresá </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="/">
                <img src="/images/logo-mercado-liebre.svg" class="logo">
            </a>
            <div class="search-bar">
                <input type="text" placeholder="Buscar tus productos, marcas">
                <button type="button"> <i class="fas fa-search"></i> </button>
            </div>
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <a href="" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href=""> Ofertas </a></li>
                <li><a href=""> Tiendas Oficiales </a></li>
                <li><a href=""> Vender </a></li>
                <li><a href=""> Ayuda </a></li>
            </ul>
            
            <ul class="right-navbar">
                <li><a href="/register"> Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login"> Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href=""> Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form action="" method="" class="formulario-login">
            <div>
                <input type="text" name="ingresar-usuario" placeholder="Nombre de usuario" required>
            </div>
            <div>
                <input type="password" name="ingresar-contrasenia" placeholder="Contraseña" required>
            </div>
            <div class="boton-login">
                <button type="submit"> Ingresar </button>
            </div>
        </form>
    </main>

    <footer>
        <div class="main-footer">
            <div class="footer-text">
                <div class="footer-icons">
                    <i class="fas fa-credit-card"></i>
                </div>
                <h4> Pagá con tarjeta o efectivo </h4>
                <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en <br> puntos de pago. ¡Y siempre es seguro! </p>
            </div>
            <div class="footer-text">
                <div class="footer-icons">
                    <i class="fas fa-gift"></i>
                </div>
                <h4> Envío gratis desde los $ 2.500 </h4>
                <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de <br> productos. Es un beneficio de Mercado Puntos. </p>
            </div>
            <div class="footer-text">
                <div class="footer-icons">
                    <i class="fas fa-user-shield"></i>
                </div>
                <h4> Seguridad de principio a fin </h4>
                <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas <br> hacer, porque estás siempre protegid@. </p>
            </div>
        </div>
        <p id="copyright"> Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
    </footer>

</body>

</html>