* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* HOME PAGE */

body {
    background-color: #ebebeb;
    margin: 0px;
}

/* HEADER */

.main-header {
    background-color: #eac926;
    padding: 20px;
}

.boton-hamburguesa{
    background-color: #0044AA;
    color: white;
    display: block;
    max-width: 50px;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    font-size: 150%;
    margin: auto;
}

.logo {
    width: 200px;
}

.search-bar input {
    margin-top: 12px;
    width: 200px;
}

.copy-header {
    font-weight: 400;
    text-align: center;
}

.main-navbar {
    display: none;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

#banner {
    width: 100%;
    margin: auto;
    text-align: center;
}

/* MAIN BODY */

main {
    text-align: center;
    width: 90%;
    margin: auto;
}

.main-text {
    font-size: 24px;
    text-align: left;
    color: #656868;
    margin: 25px 0;
}

.productos {
    margin-bottom: 10px;
    background-color: white;
}

.productos img {
    width: 100%;
    margin-top: 20px;
}

.descripcion-producto {
    border-top: 1px solid #ebebeb;
    padding: 15px;
    text-align: left;
    position: relative;
}

.descripcion-producto i {
    color: #36BB51;
}

.logo-envio {
    border: 1px #36BB51 solid;
    border-radius: 100%;
    padding: 7px;
    position: absolute;
    right: 20px;
    top: -35px;
    background-color: #fff;
}

.precio {
    display: inline;
    font-size: 18px;
}

.descuento {
    display: inline;
    color: #36BB51;
    margin-left: 8px;
}

.descripcion-producto span {
    color: #656868;
    font-size: 16px;
    margin-top: 18px;
}


/* FOOTER */

footer {
    background-color: white;
}

.main-footer {
    padding-top:20px;
    padding-bottom: 5px;
}

.main-footer h4 {
    text-align: center;
    margin: 0px;
    color: #656868;
    font-weight: bold;
}

.main-footer p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 65px;
    margin-top: 2px;
}

.footer-icons {
    font-size: 2em;
    color: #0E5BB4;
    text-align: center;
    height: 50px;
}

#copyright {
    margin: 0;
    text-align: center;
    padding-bottom: 15px;
}

/* REGISTER */

.formulario-register {
    text-align: left;
}

.control-formulario input {
    margin: 15px 0;
    padding: 6px;
    border: 1px #FFF solid;
    border-radius: 5px;
    width: 100%;
}

.control-formulario {
    margin: 5px 0px;
}

.texto-formulario {
    font-weight: bold;
    margin-bottom: 5px;
}

.perfil-de-usuario {
    margin-top: 10px;
    margin-bottom: 10px;
}

input#vendedor {
    margin-left: 40px;
}

#comprador, #vendedor, #electro, #moda, #hogar, #jugueteria, #vidaSana {
    margin-right: 10px;
    width: 10px;
}

#foto-perfil {
    display: block;
}

.botones-formulario {
    padding: 5px;
}

/* LOGIN */

.formulario-login input {
    width: 45%;
    margin: 40px 0px 30px 0px;
    padding: 12px;
    border: 1px #FFF solid;
    border-radius: 6px;
    
}

.formulario-login button {
    width: 45%;
    margin: 30px 0px;
    padding: 12px;
    border: 1px #0044AA solid;
    background-color: #0044AA;
    color: #FFF;
    font-size: 14px;
    border-radius: 6px;
}

.formulario-login button:hover {
    background-color:  #0022AA;
}


@media (min-width: 0px){
    .copy-header {
        font-size: 85%;
    }
    .nombre-producto {
        display: none;
    }
}
@media (min-width: 361px) {
    .logo {
        width: 50%;
    }
    .copy-header {
        font-size: 14px;
    }
    .productos {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .nombre-producto {
        display: block;
    }
}
@media (min-width: 769px) {
    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
    }
    .logo {
        width: 200px;
    }
    .copy-header {
        max-width: 350px;
        text-align: right;
    }
    .burger-menu {
        display: none;
    }
    .main-navbar {
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul {
        display: flex;
    }
    .main-navbar li {
        margin: 0 5px;
    }
    .main-products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    main .productos {
        width: 45%;
    }
}

@media (min-width: 1200px) {
    .logo {
        width: 250px;
    }
    .search-bar input {
        width: 400px;
    }
    .main-header-top-bar, .main-navbar {
        max-width: 1200px;
        margin: auto;
    }
    .main-header-top-bar {
        align-items: center;
    }
    .copy-header {
        margin: 0;
        max-width: none;
        font-size: 22px;
        font-weight: 400;
    }
    .main-navbar {
        margin-top: 25px;
    }
    .main-navbar li {
        margin: 0 10px;
    }
    .main-navbar a {
        font-size: 19px;
    }
    .main-products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
    }

    main .productos {
        width: 23%;
        box-shadow: none;
        overflow: hidden;
    }
    main .productos:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .main-footer {
        display: flex;
        justify-content: space-evenly;
    }
    .footer-text {
        display: inline-block;
    }
    .nombre-producto {
        position: absolute;
    }
    .productos:hover {
        overflow: hidden;
        padding-bottom: 40px;
    }
}